<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">每日一语</h3>
    </div>
    <div class="panel-body">
        <p>
            Wherever you go,whatever you do,I'll be right here waiting for you.
        </p>
    </div>
</div>