{{#section 'head'}}
    <link rel="stylesheet" href="/styles/404.css"/>
{{/section}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 error-page">
            <h2 class="number">404</h2>
            <p class="warning">您访问的页面不存在...</p>
        </div>
    </div>
</div>