{{#section 'head'}}
    <link rel="stylesheet" href="/styles/500.css"/>
{{/section}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 error-page">
            <h2 class="number">500</h2>
            <p class="warning">服务器发生错误...</p>
        </div>
    </div>
</div>