<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/styles/lamp.css" />
    <title>灯具</title>
</head>
<body>
    <div class="container">
        <h2 style="text-align: center;margin-top: 50px;margin-bottom: 30px;">灯具安装方案</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/images/bideng.jpg" alt="壁灯">
                    <div class="caption">
                        <h3 class="caption-header">电视背景墙壁灯</h3>
                        <p class="caption-body">光源：E27 单色光源</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/images/yangtai.jpg" alt="阳台灯">
                    <div class="caption">
                        <h3 class="caption-header">阳台灯</h3>
                        <p class="caption-body">光源：自带光源</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/images/ciwo.jpg" alt="次卧灯">
                    <div class="caption">
                        <h3 class="caption-header">次卧灯</h3>
                        <p class="caption-body">光源：自带光源</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/images/xuanguan.jpg" alt="玄关灯">
                    <div class="caption">
                        <h3 class="caption-header">玄关灯</h3>
                        <p class="caption-body">光源：自带光源</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/images/keting.jpg" alt="客厅灯">
                    <div class="caption">
                        <h3 class="caption-header">客厅灯</h3>
                        <p class="caption-body">光源：E14 7W三色光源；光源个数：9个；高度51cm</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/images/tongdeng.jpg" alt="筒灯">
                    <div class="caption">
                        <h3 class="caption-header">筒灯</h3>
                        <p class="caption-body">光源：4W 三色光源；购买个数：8个</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/images/dengdai.jpg" alt="灯带">
                    <div class="caption">
                        <h3 class="caption-header">灯带</h3>
                        <p class="caption-body">光源：暖黄；购买米数：13米</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/images/chatou.jpg" alt="灯带插头">
                    <div class="caption">
                        <h3 class="caption-header">灯带插头</h3>
                        <p class="caption-body">购买个数：3个</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/images/cesuo.jpg" alt="厕所门口灯">
                    <div class="caption">
                        <h3 class="caption-header">厕所门口灯</h3>
                        <p class="caption-body">光源：E27 9W三色光源；光源个数：1个</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/images/zhuwo.jpg" alt="主卧灯">
                    <div class="caption">
                        <h3 class="caption-header">主卧灯</h3>
                        <p class="caption-body">光源：G9 4.5W三色光源；光源个数：8个；高度：留两节</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/images/canting.jpg" alt="餐厅灯">
                    <div class="caption">
                        <h3 class="caption-header">餐厅灯</h3>
                        <p class="caption-body">光源：自带光源；高度：21cm</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>