<div class="container">
    <div class="row">
        <div class="col-md-9 left-side">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">注册成功</div>
                </div>
                <div class="panel-body">
                    <div class="alert alert-success">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span> 恭喜您成功注册为本站会员，现在你可以参与社区讨论和分享了^。^ </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 right-side">
            {{> mod-introduction}}
        </div>
    </div>
</div>