.topic-list{
    line-height: 30px;
}
.img-wrapper{
    margin-right: 10px;
}
.img-wrapper img{
    border-radius: 50%;
}
.category-wrapper{
    margin-right: 10px;
}
.title-wrapper{
    transition: transform 0.5s;
}
.title-wrapper:hover{
    transform: translateX(10px);
}