*{
    font-family: 'Microsoft Yahei';
}
.avatar img{
    margin-right: 10px;
}
.panel .panel-body .sign{
    margin-top: 20px;
}
.has-error .cke{
    border-color: #f13e64 !important;
}
.has-error .form-control{
    border-color: #f13e64;
}
.has-error .control-label,
.has-error .help-block{
    color: #F3565D;
}
@media (min-width: 992px) {
    .left-side{
        animation: fadeInLeft 1s 1;
    }
    .right-side{
        animation: fadeInRight 1s 1;
    }
    @keyframes fadeInLeft{
        0%{
            transform: translateX(-15px);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @-webkit-keyframes fadeInLeft{
        0%{
            transform: translateX(-15px);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @keyframes fadeInRight{
        0%{
            transform: translateX(15px);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
    @-webkit-keyframes fadeInRight{
        0%{
            transform: translateX(15px);
            opacity: 0;
        }
        100%{
            transform: translateX(0);
            opacity: 1;
        }
    }
}
.navbar .dropdown .glyphicon{
    top: 2px;
}
.navbar .dropdown .menu-text{
    margin-left: 5px;
}
.navbar .dropdown .dropdown-menu li>a{
    padding-top: 6px;
    padding-bottom: 6px;
}

